# ==============================================================================
# HƯỚNG DẪN CÀI ĐẶT THƯ VIỆN HỆ THỐNG TRÊN RASPBERRY PI (BẮT BUỘC CHẠY TRƯỚC)
# ------------------------------------------------------------------------------
# sudo apt update
# sudo apt install -y libcap-dev libgl1-mesa-glx libglib2.0-0 python3-picamera2
# ==============================================================================

# --- THƯ VIỆN AI & XỬ LÝ ẢNH ---
numpy==1.26.4
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
mediapipe==0.10.18
tensorflow==2.17.0
keras==3.14.1
protobuf==4.25.3
ml-dtypes==0.4.1

# --- THƯ VIỆN ĐIỀU KHIỂN PHẦN CỨNG XE & TAY GAP ---
Adafruit-Blinka==9.1.0
adafruit-circuitpython-pca9685==3.4.22
picamera2==0.3.36
python-prctl==1.8.1

# --- THƯ VIỆN ĐIỀU KHIỂN GPIO ---
# Dành cho Raspberry Pi 3 / Pi 4:
RPi.GPIO==0.7.1

# Dành cho Raspberry Pi 5 (Nếu dùng Pi 5, hãy xóa dòng RPi.GPIO ở trên và thay bằng dòng dưới):
# rpi-lgpio==0.6

# --- THƯ VIỆN PHÂN TÍCH DỮ LIỆU PHỤ TRỢ (NẾU CẦN) ---
pandas==3.0.3
scipy==1.17.1
scikit-learn==1.8.0
matplotlib==3.11.0
seaborn==0.13.2
pillow==12.2.0
